%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        iNaturalist => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::iNaturalist',
            },
        },
    },
);

%Image::ExifTool::UserDefined::iNaturalist = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-iNaturalist', 2 => 'Image' },
    NAMESPACE => { 'iNaturalist' => 'https://inaturalist.org/ns/1.0/' },
    WRITABLE => 'string',
    observation => { },
    observationPhoto => { },
    photo => { },
);

